html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

body .mobile-visible {
    display: none;
}

@media (max-width: 1000px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

.no-scrolling {
	overflow: hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

body .mb0 {
    margin-bottom: 0;
}

body .mb5 {
    margin-bottom: 5px;
}

body .mb20 {
	margin-bottom: 20px;
}

body .mb30 {
	margin-bottom: 30px;
}

body .mbi30 {
    margin-bottom: 30px !important;
}

body .mb70 {
    margin-bottom: 70px;
}

body .mr50 {
    margin-right: 50px;
}

body .mr70 {
    margin-right: 70px;
}

body .mr150 {
    margin-right: 150px;
}

/**/

html,
body {
    font-size: calc(100vw / 375);
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    font: normal 16rem/19rem 'Gotham Pro', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 1280rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 15rem;
}

.plug-btn-wrapper {
    position: absolute;
    top: 340rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 330rem;
    z-index: 1;
}

.plug-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 310rem;
    width: 100%;
    height: 40rem;
    margin: auto;
    padding: 11rem 0;
    font-style: italic;
    font-weight: 900;
    font-size: 18rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #003088;
    background: #FDF100;
    z-index: 1;
    transition: all .2s linear;
    transform: skewX(-8deg);
}

.plug-btn:hover {
    background: #FFE500;
}

.plug-btn.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.plug-block {
    position: relative;
    width: 100%;
    /*height: 406rem;*/
    height: 50vh;
    background: #00155B;
}

.plug-360::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/plug-ice.png) center no-repeat;
    background-size: 100% 100%;
    mix-blend-mode: screen;
    z-index: 0;
}

.plug-logo-breathe {
    position: absolute;
    /*top: -30rem;*/
    top: -3vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*width: 214rem;
    height: 214rem;*/
    width: 27vh;
    height: 27vh;
    z-index: 1;
}

.plug-btn-wrapper {
    position: absolute;
    /*top: 340rem;*/
    top: 42vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 330rem;
    z-index: 1;
}

.plug-btn {
    max-width: 100%;
    height: 40rem;
    padding: 11rem 0;
    font-size: 18rem;
}

.plug-site::before {
    content: '';
    position: absolute;
    top: 20rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 265rem;
    height: 265rem;
    background: #003DB8;
    filter: blur(80rem);
    border-radius: 50%;
    z-index: 0;
}

.plug-site::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/plug-kv.png) center no-repeat;
    background-size: cover;
    z-index: 0;
}

@media (max-width: 420px) {
    .plug-block {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
    }

    .plug-logo-breathe {
        top: -3vh;
        width: 27vh;
        height: 27vh;
    }

    .plug-btn-wrapper {
        top: 42vh;
    }
}