html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

body .mobile-visible {
    display: none;
}

@media (max-width: 1000px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

.hide {
    display: none;
}

.no-scrolling {
	overflow: hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

body .mb0 {
    margin-bottom: 0;
}

body .mb5 {
    margin-bottom: 5px;
}

body .mb20 {
	margin-bottom: 20px;
}

body .mb30 {
	margin-bottom: 30px;
}

body .mbi30 {
    margin-bottom: 30px !important;
}

body .mb70 {
    margin-bottom: 70px;
}

body .mr50 {
    margin-right: 50px;
}

body .mr70 {
    margin-right: 70px;
}

body .mr150 {
    margin-right: 150px;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider * {
    outline: none;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    z-index: 1;
}

/**/

html,
body {
    font-size: calc(100vw / 1920);
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    font: normal 16rem/19rem 'Gotham Pro', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 355rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 10rem;
}

.mobile-page {
    position: relative;
    background: #00155B;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/mobile/bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 10;
}

.preloader svg {
    width: 100%;
    height: 100%;
}

.preloader-title {
    position: absolute;
    bottom: 75rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 300rem;
    height: 70rem;
    font-style: italic;
    font-weight: 900;
    font-size: 32rem;
    line-height: 35rem;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 3.74798rem 5.62197rem 0rem #063485;
}

.block1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/mobile/bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 2;
}

.video-js {
    width: 100%;
    height: 100vh;
}

.vjs-poster {
    background-size: cover;
}

.video-js .vjs-big-play-button {
    display: none;
}

.video-js .vjs-control-bar {
    bottom: -30px;
}

.video-holder {
    position: relative;
    width: 100%;
    height: calc(100vh - 64rem);
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url('../video/play.svg') center no-repeat;
    cursor: pointer;
}

.video-overlay.o {
    background: none;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

video::-webkit-media-controls {
    display: none;
}

/*
video::-webkit-media-controls-play-button {

}
video::-webkit-media-controls-volume-slider {

}
video::-webkit-media-controls-mute-button {

}
video::-webkit-media-controls-timeline {

}
video::-webkit-media-controls-current-time-display{
    
}
*/

.start-breathe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1;
}

.block1-title {
    position: absolute;
    bottom: 125rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 22rem;
    font-style: italic;
    font-weight: 900;
    font-size: 22rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2rem 1.5rem 0rem #063485;
    cursor: pointer;
    z-index: 1;
}

.block1-title.btn-breathe::before {
    content: '';
    position: absolute;
    top: -168rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 140rem;
    height: 140rem;
    background: url(../img/mobile/breathbtn.png) center no-repeat;
    background-size: contain;
}

.breathe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.breathe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*background: url(../img/mobile/Freeze-Sound-Effect.gif) center no-repeat;*/
    background: url(../img/mobile/breathe.gif) center no-repeat;
    background-size: cover;
    mix-blend-mode: screen;
    z-index: 0;
}

.volume {
    position: absolute;
    top: 160rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 63rem;
    height: 63rem;
    background: url(../img/mobile/volume.svg) center no-repeat;
    background-size: contain;
    z-index: ;
}

.logo-breathe1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160rem;
    margin: auto;
    width: 176rem;
    height: 176rem;
    z-index: 1;
}

.breathe .block1-title {
    z-index: 1;
}

.arrows-360 {
    position: absolute;
    bottom: 160rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 176rem;
    height: 176rem;
    z-index: 1;
}

.go-to-link1 {
    position: absolute;
    bottom: 20rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 18rem;
    font-style: italic;
    font-weight: 500;
    font-size: 18rem;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2rem 1.5rem 0rem #063485;
    z-index: 1;
}

.block2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/mobile/bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 4;
}

.block2 .video-holder,
.block3 .video-holder {
    height: 100vh;
}

.block3 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/mobile/bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 6;
}

.preloader2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/mobile/bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 5;
}

.logo {
    position: absolute;
    top: 100rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 173rem;
    height: 43rem;
    background: url(../img/mobile/logo.svg) center no-repeat;
    background-size: contain;
}

.logo-breathe2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 285rem;
    height: 285rem;
}

.preloader2-title {
    position: absolute;
    bottom: 75rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 300rem;
    height: 70rem;
    font-style: italic;
    font-weight: 900;
    font-size: 32rem;
    line-height: 35rem;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 3.74798rem 5.62197rem 0rem #063485;
}

.go-to-link2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 64rem;
    background: linear-gradient(90deg, #00155B 0%, #5BC5F2 51.04%, #00155B 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 900;
    font-size: 22rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2rem 1.5rem 0rem #063485;
}

.block4 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/mobile/bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 8;
}

.block4-title {
    position: absolute;
    top: 100rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 300rem;
    height: 70rem;
    font-style: italic;
    font-weight: 900;
    font-size: 32rem;
    line-height: 35rem;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 3.74798rem 5.62197rem 0rem #063485;
}

.go-to-block5 {
    position: absolute;
    top: 160rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 152rem;
    height: 156rem;
    background: url(../img/mobile/play.png) center no-repeat;
    background-size: contain;
}

.logo-breathe3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100rem;
    height: 100rem;
}

.go-to-link3 {
    position: absolute;
    bottom: 70rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 306rem;
    height: 70rem;
    font-style: italic;
    font-weight: 900;
    font-size: 26rem;
    line-height: 35rem;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 3.74798rem 5.62197rem 0rem #063485;
}

.go-to-link3::before {
    content: '';
    position: absolute;
    top: -180rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 156rem;
    height: 160rem;
    background: url(../img/mobile/code.png) center 0 no-repeat;
    background-size: contain;
}

.block5 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/mobile/bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 9;
}

.video-slider .slick-prev,
.video-slider .slick-next {
    top: auto;
    bottom: 20rem;
    width: 23rem;
    height: 52rem;
    z-index: 2;
}

.video-slider .slick-prev {
    left: 0;
    background: url(../img/mobile/arrow-left.svg) center no-repeat;
    background-size: contain;
}

.video-slider .slick-next {
    right: 0;
    background: url(../img/mobile/arrow-right.svg) center no-repeat;
    background-size: contain;
}

.video-slide-wrapper {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
	html,
    body {
        font-size: calc(100vw / 1024);
        height: 100%;
    }
}

@media (max-width: 640px) {
    html,
    body {
        font-size: calc(100vw / 375);
        height: 100%;
    }
}

@media (max-width: 360px) {
    html,
    body {
        font-size: calc(100vw / 520);
        height: 100%;
    }
}